@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
        background-color:#2e2e2e;
        color:blue;
    }
</style>
<div class="jumbotron">
    <h1>Apple vs Samsung</h1>
    <p class="lead">This web application presents the competition between Apple and Samsung products.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Samsung</h2>
        <p>
            <img src="~/Content/Images/christian-wiediger-626857-unsplash.jpg" width="50%" height="20%" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Apple</h2>
        <p><img src="~/Content/Images/neil-soni-622526-unsplash.jpg" width="60%" height="50%" /> </p>
    </div>
    <div class="col-md-4">
        <h2>Samsung</h2>
        <p><img src="~/Content/Images/adrien-296945-unsplash.jpg" width="50%" height="20%"</p>
    </div>
</div>